<ion-view view-title="账号">
    <ion-content style="background-color: #f8f8f8">
        <div class="item item-avatar">
            <img src="img/tx.jpg">
            <h2>Cookies</h2>
            <p>签名：好困啊。。。</p>
        </div>
        <br>

        <div class="item item-icon-left item-icon-right">
            <i class="icon ion-ios-star"></i>
            <h2>收藏</h2>
            <!--<i class="icon ion-ios-arrow-right"></i>-->
        </div>
        <div class="item item-icon-left item-icon-right">
            <i class="icon ion-university"></i>
            <h2>等级</h2>
            <!--<i class="icon ion-ios-arrow-right"></i>-->
        </div>
        <br>
        <div class="item item-icon-left item-icon-right">
            <i class="icon ion-social-yen"></i>
            <h2>钱包</h2>
            <!--<i class="icon ion-ios-arrow-right"></i>-->
        </div>
        <div class="item item-icon-left item-icon-right">
            <i class="icon ion-gear-a"></i>
            <h2>设置</h2>
            <!--<i class="icon ion-ios-arrow-right"></i>-->
        </div>
        <br>
        <div class="item item-icon-left item-icon-right">
            <i class="icon ion-xbox"></i>
            <h2>游戏</h2>
            <!--<i class="icon ion-ios-arrow-right"></i>-->
        </div>
    </ion-content>
</ion-view>



