<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" style="background-color: #f7f7f7">

    <!-- Dashboard Tab -->
    <ion-tab title="频道" icon-off="ion-ios-grid-view" icon-on="ion-ios-grid-view" href="#/tab/channel">
        <ion-nav-view name="tab-channel"></ion-nav-view>
    </ion-tab>


    <ion-tab title="热点" icon-off="ion-android-star" icon-on="ion-android-star" href="#/tab/hotnews">
        <ion-nav-view name="tab-hotnews"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="视频" icon-off="ion-ios-videocam" icon-on="ion-ios-videocam" href="#/tab/video">
        <ion-nav-view name="tab-video"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="我" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
